{% extends "application.html" %}

{% block title %}
Welcome to Dire!
{% endblock %}
{% block content %}

{% load static %}

    <div class="container">
  <table border="0" cellpadding="0" cellspacing="3">
        <tr>
            <td colspan="2">
                Source:
                <input type="text" id="txtSource" value="Bandra, Mumbai, India" style="width: 200px" />
                &nbsp; Destination:
                <input type="text" id="txtDestination" value="Andheri, Mumbai, India" style="width: 200px" />
                <br />
                <input type="button" value="Submit" onclick="GetRoute()" />
                <hr />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <div id="dvDistance">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div id="dvMap" style="width: 1300px; height: 500px">
                </div>
            </td>
            
        </tr>
    </table>
       <!-- <h1> Order Number: {{ order.id }} </h1>
        Starting Point : {{ order.starting_point }} <br/>
        Destination Point : {{ order.destination_point }} <br> 

        <a href="{% url 'order:orderIndex' %}"><<< back</a>  
        <input id="from" type="text" style="width:100%" placeholder="dari">
        <input id="to" type="text" style="width:100%" placeholder="tujuan">
       <input type='button' onclick="setTimeout(myMap, 3000);">submit</input> 
        <div id="map" style="width:100%;height:500px"></div> -->

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script>
    <script type="text/javascript">
        var source, destination;
        var directionsDisplay;
        var directionsService = new google.maps.DirectionsService();
        google.maps.event.addDomListener(window, 'load', function () {
            new google.maps.places.SearchBox(document.getElementById('txtSource'));
            new google.maps.places.SearchBox(document.getElementById('txtDestination'));
            directionsDisplay = new google.maps.DirectionsRenderer({ 'draggable': true });
        });

        function GetRoute() {
              var directionsService = new google.maps.DirectionsService;
              var directionsDisplay = new google.maps.DirectionsRenderer;
              var map = new google.maps.Map(document.getElementById('dvMap'), {
                zoom: 10,
                center: {lat: 41.85, lng: -87.65}
              });
              directionsDisplay.setMap(map);
            //mumbai = new google.maps.LatLng(18.9750, 72.8258);
            //var mapOptions = {
              //  zoom: 7,
              //  center: mumbai
           // };
            // map = new google.maps.Map(document.getElementById('dvMap'), mapOptions);
           // directionsDisplay.setMap(map); 
           

            //*********DIRECTIONS AND ROUTE**********************//
            source = document.getElementById("txtSource").value;
            destination = document.getElementById("txtDestination").value;

            var request = {
                origin: source,
                destination: destination,
                travelMode: google.maps.TravelMode.DRIVING
            };
            directionsService.route(request, function (response, status) {
                if (status == google.maps.DirectionsStatus.OK) {
                    directionsDisplay.setDirections(response);
                }
            });

            //*********DISTANCE AND DURATION**********************//
            var service = new google.maps.DistanceMatrixService();
            service.getDistanceMatrix({
                origins: [source],
                destinations: [destination],
                travelMode: google.maps.TravelMode.DRIVING,
                unitSystem: google.maps.UnitSystem.METRIC,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {
                if (status == google.maps.DistanceMatrixStatus.OK && response.rows[0].elements[0].status != "ZERO_RESULTS") {
                    var distance = response.rows[0].elements[0].distance.text;
                    var duration = response.rows[0].elements[0].duration.text;
                    var dvDistance = document.getElementById("dvDistance");
                    dvDistance.innerHTML = "";
                    dvDistance.innerHTML += "Distance: " + distance + "<br />";
                    dvDistance.innerHTML += "Duration:" + duration;

                } else {
                    alert("Unable to find the distance via road.");
                }
            });
        }
    </script>
   <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnaq11J1ZmAOz5QZ5nRG2oDF9eegw5qQ&callback=GetRoute">
    </script>
  
  </div>


{% endblock %}
