{% extends "application.html" %}

{% block title %}
List of Order
{% endblock %}
{% block content %}

{% load static %}

    <div class="container">

        <h1> All Order</h1>
        {% for eachOrder in object_list %}
            <a href="{% url 'order:orderDetail' eachOrder.id %}">
                {{ eachOrder.id }} - {{ eachOrder.starting_point }} - {{ eachOrder.destination_point }}
            </a><br/>

        {% endfor %}
        {% if some_thing %}
          <h2> Create New Order </h2>
          <a href="{% url 'order:orderCreate' %}">
              <button type="button" class="btn btn-outline-primary">New</button>
          </a>
          
        {% endif %}
    </div>

{% endblock %}
