{% extends "application.html" %}

{% block title %}
Welcome to Dire!
{% endblock %}
{% block content %}

{% load static %}

<div class="container">
	<link rel="stylesheet" type="text/css" href="{% static 'css/form.css' %}">

    <h1 class="h1-title"> Create Order</h1>

    <div class="row">
      <div class="col-md-6">
        Sender Name<br/>
        <input id="sendername-input" class="controls main-input w-50" type="text"
        placeholder="Sender Name">
      </div>
      <div class="col-md-6">
        Recipient Name<br/>
        <input id="recipientname-input" class="controls main-input w-50" type="text"
        placeholder="Recipient Name">
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        Sender Phone Number<br/>
        <input id="senderphonum-input" class="controls main-input w-50" type="text"
        placeholder="Sender Phone Number">
      </div>
      <div class="col-md-6">
        Recipient Phone Number<br/>
        <input id="recipientphonum-input" class="controls main-input w-50" type="text"
        placeholder="Recipient Phone Number">
      </div>
    </div>
    
    Starting Point<br/>
    <input id="origin-input" class="controls main-input w-50" type="text"
        placeholder="Enter an origin location">

    <br/>Destination Point<br/>
    <input id="destination-input" class="controls main-input w-50" type="text"
        placeholder="Enter a destination location">

    <div id="mode-selector" class="controls">
      <input type="radio" name="type" id="changemode-walking" checked="checked" value="Walking">
      <label for="changemode-walking">Walking</label>

      <input type="radio" name="type" id="changemode-transit" value="Transit">
      <label for="changemode-transit" >Transit</label>

      <input type="radio" name="type" id="changemode-driving" value="Driving">
      <label for="changemode-driving" >Driving</label>
    </div>

    <div id="map"></div>

    <div id="dvDistance">
    </div>

    <button id="confirmationButton" type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModalCenter">Confirm</button>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	  <div class="modal-dialog modal-dialog-centered" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="exampleModalLongTitle">Confirm</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">
	        <form action="{% url 'order:orderSuccess' %}" method="POST">
            {% csrf_token %}
            <input class="main-input" name="starting_order" type="hidden" value="" id="starting_point">
            <input class="main-input" name="destination_order" type="hidden" value="qwer" id="destination_point">
            <input class="main-input" name="sender_name" type="hidden" value="qwer" id="id_sender_name">
            <input class="main-input" name="sender_phonum" type="hidden" value="qwer" id="id_sender_phonum">
            <input class="main-input" name="recipient_name" type="hidden" value="qwer" id="id_recipient_name">
            <input class="main-input" name="recipient_phonum" type="hidden" value="qwer" id="id_recipient_phonum">

            <div class="row">
              <div class="col-6">
                <h5>Sender</h5>
                <p id="order_sender"></p>
              </div>

              <div class="col-6">
                <h5>Recipient</h5>
                <p id="order_recip"></p>
              </div>

            </div>

            <div class="row">
              <div class="col-6">
                <h5>Starting Point</h5>
                <p id="order_start"></p>
              </div>

              <div class="col-6">
                <h5>Destination Point</h5>
                <p id="order_dest"></p>
              </div>

            </div>

            <hr/>

            <div class="row">
              <div class="col-6">Mode</div>
              <div class="col-6" id="order_mode">: Walking</div>
            </div>

            <div class="row">
              <div class="col-6">Distance</div>
              <div class="col-6" id="order_distance">: 5 km</div>
            </div>

            <div class="row">
              <div class="col-6">Duration</div>
              <div class="col-6" id="order_duration">: 15 mins</div>
            </div>

            <div class="row">
              <div class="col-6">Price</div>
              <div class="col-6">: 10$</div>
            </div>

            <input type="submit" class="btn btn-primary">

          </form>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        
	      </div>
	    </div>
	  </div>
	</div>

</div>

<script type="text/javascript" src="{% static 'js/form.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDxnaq11J1ZmAOz5QZ5nRG2oDF9eegw5qQ&libraries=places&callback=initMap"
         async defer></script>


{% endblock %}
