#takeOrderButton {
  width: 100%;
  margin: 3% 0%;
  background-color: #376637;
}

#completedButton {
  width: 100%;
  margin: 3% 0%;
  background-color: #376637;
}

#SendProblem {
  width: 100%;
  margin: 3% 0% 3% 3%;
  background-color: #e84c4c;
  border: 1px solid #e84c4c;
}

.cancelbutton {
  background-color: #e84c4c;
  color: white;
}
