.card-border {
	border-right: 0.5px solid #969696;
}

.card {margin-top: 4%;}

.card:hover {
	border: 1px solid #376637;
	cursor: pointer;
}

.card:hover .card-body .card-text .fas {
	color: #376637
}

.leftside {
	border-right: 1px solid #376637;
	padding-right: 3%;
}

.rightside {
	margin-left: 1%;
}

@media (max-width: 575.98px) {
 .rightside, .leftside {
	 margin: 5%;
 }
}
