.content-2 {
	padding: 10%;
	background-color: #f7f7f7;
}

.content2-title {
	padding-top: 30px;
	margin-left: 20%;
	color: #3E664B;
	font-size: 25px;
	font-weight: 600;
}

.content2-h4 {margin-left: 20%; font-size: 30px; letter-spacing: 2px;}
.content2-txt {margin-left: 20%; }
.content2-p {margin-left: 20%; line-height: 20px;}
.content2-img {
	max-width: 60%;
	border:solid 4px #3E664B; margin-left: 15%; margin-top: 15%;
	-webkit-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.3);
	-moz-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.3);
	box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.3);
}

.content-3 {
	background-color: #E84C4C;
	padding-top: 5%;
}

.content3-left {
	padding: 0% 5% 0% 5% !important;

}

.content3-right {
	padding: 0% 5% 0% 5% !important;
}

.content3-left img {
	max-width: 100%;
	height: auto
}

.content3-right img {
	max-width: 100%;
	height: auto
}

.content3-left .card-title, .content3-right .card-title {
	color: #E84C4C;
	font-weight: 700;
	font-size: 140%;
	letter-spacing: 2px;
}

.content3-left p, .content3-right p {
	color: black;
	font-size: 100%;
	font-weight: 400;
	letter-spacing: 1px;
}

.content3-btn {
	background: #3E664B !important;
	text-decoration: none;
	color: white;
	width: 100%;
}

.content3-btn:hover {
	opacity: 0.8;
	text-decoration: none;
	color: white;
	width: 100%;
}

.content3-title1 {margin-left: 5px; margin-top:15px; width:170px; background-color: #3E664B}
.content3-title2 {width: 250px; line-height:30px; letter-spacing: 2px; padding-top: 30px; color: white; padding-bottom:10px; padding-left:30px; font-size: 25px; font-weight: 600;}

@media (max-width: 575.98px) {

	.content-3 {
		padding: 5% 10%;
	}

	.content-3 .col-md-6 {
		margin: 5% 0% !important;
	}
}
