.transport-differ{
  border: 1px solid #3E664B;
  border-radius: 10px;
  padding: 10% 5%;
}

.transport-differ img, .transport-img {
  max-width: 100%;
  height: auto;
  margin: 5% 0%;
}

.transport-differ p{
  font-weight: 700;
  font-size: 120%;
  color: #3E664B;
}

@media (max-width: 575.98px) {

  .transport-differ{
    margin: 5% 10%;
  }

 }
