@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body {
  font-family: 'Ubuntu', sans-serif;
}

@font-face {
  font-family: Ubuntu;
  src: url(http://fonts.googleapis.com/css?family=Ubuntu);
}

nav {
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.2);
  height: 5%;
}

button:focus {
  box-shadow: 0 0 0 0 !important;
  outline: none;
}


#m-btn-login {
  background-color: #376637;
  color: white;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transform: all 0.2s ease;
  -ms-transform:all 0.2s ease;
  -o-transform: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0.2rem 0.75rem;
  font-weight: 600;
  margin-top: 5%;
}

.logo-navbar:hover {
  cursor: pointer;
}

.dire-link b:hover {
  cursor: pointer;
}

.dire-n-btn {
	background: #3E664B !important;
	text-decoration: none;
	color: white;
	width: 100%;

  -webkit-transition: all 0.2s ease;
  -moz-transform: all 0.2s ease;
  -ms-transform:all 0.2s ease;
  -o-transform: all 0.2s ease;
  transition: all 0.2s ease;
}

.dire-n-btn:hover{
  opacity: 0.8;
  text-decoration: none;
  color: white;
  width: 100%;
}

.h1-title { margin-top: 5%; }

.nav-menu-1 {font-size: 13px; color: black;}
#m-link-signup {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 10px;
  font-weight: 600;
}

#m-link-signup a{
  color: #376637;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transform: all 0.2s ease;
  -ms-transform:all 0.2s ease;
  -o-transform: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  padding-left: 35px; font-size: 15px; color: #3E664B;
}

#m-btn-banner {

  background-color: white;
  color: #376637;
  text-decoration: none;
}

.input-nav {
  padding: 0px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #376637;
  background: transparent;
  border: 0px solid;
}
.input-nav:hover{cursor: pointer;}
.input-nav:focus{outline:0;}


#introduction {
}

.fill-viewport {min-height: 100vh}
.fill-20-viewport {min-height: 20vh}
.fill-50-viewport {min-height: 50vh}
.fill-60-viewport {min-height: 60vh}
.fill-80-viewport {min-height: 80vh}
.fill-90-viewport {min-height: 90vh}
.fill-95-viewport {min-height: 95vh}
.text-white-70 {color: rgba(255,255,255,0.7)}
.text-70 {font-size: 70%}
.text-80 {font-size: 80%}
.text-120 {font-size: 120%}
.text-130 {font-size: 130%}
.text-150 {font-size: 150%}
.text-italic {font-weight: 600; font-style: italic;}
.text-semibold {font-weight: 600}
.text-bold {font-weight: 700}

.col-md-6{
  padding: 0px !important;
}

.row {
  margin-right: 0px !important;
}

.footer-menu-1 {padding-top: 30px}
.footer-menu-1 a {font-size: 12px; padding-left: 35px; color: #2D2C2C}
.footer-copyright {padding-bottom: 5px; padding-right: 350px; margin-top: -30px; letter-spacing: 2px; text-align: right; color: #3E664B}

footer {
  left:0;
  bottom:0;
  width:100%;
  text-align: center;
  background-color: white;
  padding-top: 10px;
}

.footer-fictional {
  font-size: 80%;
  color: black;
  letter-spacing: 0;
  margin-top: 25%;
}

::placeholder {
    color: #3E664B;
    opacity: 1; /* Firefox */
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #3E664B;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #3E664B;
}

.main-input[type=text], .main-input[type=password], .main-input {
    padding: 8px;
    margin: 5px 0 25px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.main-input[type=text]:focus, .main-input[type=password]:focus, .main-input {
    background-color: #dddddd;
    outline: black;
}

.w-100 {width: 100%}
.w-80 {width: 80%}
.w-50 {width: 50%}
.w-20 {width: 20%}

.main-modal-body {text-align: left;}
.main-modal-p {font-weight: 600; font-size: 12px; letter-spacing: 1.5px; margin-left: 30%;}

.main-button {
    background-color: #3E664B;
    color: white;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    text-align: center
}
.main-button:hover {
    opacity: 0.9;
}
.main-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 6%;
    top: 10%;
    width: 90%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;

}
.main-modal-content {
    background-color: #fefefe;
    margin: 2% auto 30% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    padding-bottom: 5%;
    border-radius: 30px;
    padding-top: 5%;
}
.main-close {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.main-close:hover{
  color: grey;
}

.errormessage {
  width: 100%;
  border-radius: 10px;
  background: pink;
  padding: 5px 2%;
  margin: 1% 2%;
  display: none;
}

.main-nav1 {

    width:500px;
    height: 120px;
    margin-left: 15%;
    margin-top: 12%;
    background-color: #2D2C2C;
    padding-left: 10px;
}
.main-nav2{
margin-left: 5px;
 height: 100px;
  padding-top: 10px;
  margin-top:15px;
  width:500px;
  background-color:#3E664B;
}

.main-ques {

  width: 400px;
   line-height:30px;
    letter-spacing: 2px;
     padding-top: 30px;
     color: white;
     padding-bottom:10px;
      padding-left:30px;
       font-size: 25px;
       font-weight: 600;
}

.main-img1 {

  margin-left: 45%;
  border: 3px solid black;
  border-radius: 4px;
  margin-top: 5%;
  opacity: 0.5;
}

.main-img2 {

     margin-top: -30%;
     margin-left: 10px;
     opacity: 0.3;

}

.box-partner {

  margin-top:20px;
  width: 180px;
  height: 40px;
  background-color: #e84c4c;
}

.partner-text {

  width: 400px;
  line-height:30px;
  letter-spacing: 2px;
  padding-top: 5px;
  color: #2D2C2C;
  padding-bottom:10px;
  padding-left:35px;
  font-size: 23px;
  font-weight: 590;
}

.q-partner-1 {
  margin-top: 5%;
  width: 400px;
  line-height:30px;
  letter-spacing: 2.5px;
  padding-top: 5px;
  color: #2D2C2C;
  padding-bottom:10px;
  padding-left:35px;
  font-size: 20px;
  font-weight: 595;
  color:  #3E664B;
}

.a-partner-1 {

  width: 400px;
  margin-bottom: 5%;
  line-height:30px;
  letter-spacing: 2px;
  padding-top: 5px;
  color: #2D2C2C;
  padding-bottom:10px;
  padding-left:35px;
  font-size: 15px;
  font-weight: 570;

}

hr {

  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  padding-left: 400px;
}

.box-customer{

  margin-top:20px;
  width: 200px;
  height: 40px;
  background-color: #e84c4c;
  margin-left: 180px;
}

.customer-text {


  width: 400px;
  line-height:30px;
  letter-spacing: 2px;
  padding-top: 5px;
  color: #2D2C2C;
  padding-bottom:10px;
  padding-left:35px;
  font-size: 23px;
  font-weight: 590;
}

.q-cust-1 {
  margin-top: 15%;
  width: 400px;
  line-height:30px;
  letter-spacing: 2.5px;
  padding-top: 5px;
  color: #2D2C2C;
  padding-bottom:10px;
  margin-left:-80%;
  font-size: 20px;
  font-weight: 595;
  color:  #3E664B;
}

@media (max-width: 575.98px) {
  .box-customer{
    margin-bottom: 60%;
  }

}

.a-cust-1 {

    width: 400px;
    margin-bottom: 5%;
    line-height:30px;
    letter-spacing: 2px;
    padding-top: 5px;
    color: #2D2C2C;
    padding-bottom:10px;
    margin-left:-80%;
    font-size: 15px;
    font-weight: 570;
}


.t-title {
  line-height:30px;
  letter-spacing: 2px;
  padding-top: 30px;
  color: #3E664B;
  margin-top: 5%;
  font-size: 25px;
  font-weight: 590;
}

.btn-link {
  margin-left: 5%;
  color: black;
  text-decoration: none;
}

.btn-link img {margin-right: 5%;}

.btn-link:hover, .btn-link:active {
  color:#3E664B
}


.no-1 {

  margin-left: 330px; margin-top: 63px; margin-bottom: -120px;
}

.map-1 {

  width: 1300px;height: 250px; padding-left: 400px; padding-right: 100px; padding-top: 5%; filter: brightness(50%);
}

.t-map {
  width: 100%;
  height: auto;
  padding: 2% 0%;
  filter: brightness(50%);
}

.map-desc-1 {

  bottom: 360px; left: 149px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: white; padding-bottom:10px; padding-left:500px; font-size: 20px; font-weight: 590; position: absolute;

}

.order-1 {

  margin-bottom: -1%; margin-top: -52px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C; padding-bottom:10px; padding-left:450px; font-size: 15px; font-weight: 600;
}

.date-1 {

  margin-bottom: -1%; margin-top: -20px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C; padding-bottom:10px; padding-left:450px; font-size: 15px; font-weight: 570;

}

.order-details-1 {
  margin-bottom: 5%;
  margin-top: -20px;
  line-height:30px;
  letter-spacing: 2px;
  padding-top: 5px;
  color: #2D2C2C;
  padding-bottom:-30px; padding-left:450px; font-size: 15px; font-weight: 570;
}

.hr-long {

  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); margin-left: 400px; width: 800px; margin-top: -20px;margin-bottom: 25px;
}

.detail-order-1 {


    margin-bottom: 5%; margin-top: -20px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 600;
}

.mode-1 {

  margin-bottom: 6%; margin-top: -70px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 570;
}

.distance-1 {
  margin-bottom: 6%; margin-top: -80px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 570;
}

.duration-1 {


  margin-bottom: 6%; margin-top: -80px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 570;
}

.price-1 {

  margin-bottom: 6%; margin-top: -80px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 600;
}

.courier-1 {

  margin-bottom: 4%; margin-top: -68px; line-height:30px; letter-spacing: 3px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 500;

}

.no-2 {

    margin-left: 330px; margin-top: -99px; margin-bottom: -120px;
}

.map-2{
  width: 1300px;height: 250px; padding-left: 400px; padding-right: 100px; padding-top: 5%; filter: brightness(50%);

}

.map-desc-2 {


  bottom: -260px; left: 100px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: white; padding-bottom:10px; padding-left:500px; font-size: 20px; font-weight: 590; position: absolute;
}

.order-details-2{


    margin-bottom: -1%; margin-top: -52px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C; padding-bottom:10px; padding-left:450px; font-size: 15px; font-weight: 600;

}

.date-2{

    margin-bottom: -1%; margin-top: -20px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C; padding-bottom:10px; padding-left:450px; font-size: 15px; font-weight: 570;

}


.detail-order-2 {

  margin-bottom: 5%; margin-top: -20px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C; padding-bottom:-30px; padding-left:450px; font-size: 15px; font-weight: 570;
}

.hr-long-1 {

  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); margin-left: 400px; width: 800px; margin-top: -20px;margin-bottom: 25px;
}

.details-2 {

    margin-bottom: 5%; margin-top: -20px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 600;
}

.mode-2 {


  margin-bottom: 6%; margin-top: -70px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 570;
}

.distance-2 {

  margin-bottom: 6%; margin-top: -80px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 570;
}

.duration-2 {


  margin-bottom: 6%; margin-top: -80px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 570;
}

.price-2 {


  margin-bottom: 6%; margin-top: -80px; line-height:30px; letter-spacing: 2px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 600;
}

.courier-2 {


  margin-bottom: 4%; margin-top: -68px; line-height:30px; letter-spacing: 3px; padding-top: 5px; color: #2D2C2C;padding-left:440px; font-size: 15px; font-weight: 500;
}

.profilecard {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  max-height: 600px;
  margin: auto;
  text-align: center;
  font-family: arial;
  border-radius: 10px;
}

.prof-img{
  width: 100%;
  border-radius: 10px 10px 0px 0px;
}

.prof-card{
  background-color:
  border: none;
  background: #f1f1f1;
  width: 80%;
  margin-left: 0%;
}

.number-form{
  width: 25px;
  height: 25px;
  margin-left: -40px;
}


.col-center {
	margin: 0 auto;
	float: none !important;
}
.carousel {
	margin: 50px auto;
	padding: 0 70px;
}
.carousel .item {
	color: #999;
	font-size: 14px;
    text-align: center;
	overflow: hidden;
    min-height: 290px;
}
.carousel .item .img-box {
	width: 135px;
	height: 135px;
	margin: 0 auto;
	padding: 5px;
	border: 1px solid #ddd;
	border-radius: 50%;
}
.carousel .img-box img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}
.carousel .testimonial {
	padding: 30px 0 10px;
}
.carousel .overview {
	font-style: italic;
}
.carousel .overview b {
	text-transform: uppercase;
	color: #376637;
}
.carousel .carousel-control {
	width: 40px;
    height: 40px;
    margin-top: -20px;
    top: 50%;
	background: none;
}
.carousel-control i {
    font-size: 68px;
	line-height: 42px;
    position: absolute;
    display: inline-block;
	color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 3px 3px #e6e6e6, 0 0 0 #000;
}
.carousel .carousel-indicators {
	bottom: -40px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 1px 3px;
	border-radius: 50%;
}
.carousel-indicators li {
	background: #999;
	border-color: transparent;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}
.carousel-indicators li.active {
	background: #555;
	box-shadow: inset 0 2px 1px rgba(0,0,0,0.2);
}

@media (max-width: 575.98px) {

  .profilecard{
    margin-bottom: 5%;
  }

 }
