{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <!-- <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <meta charset="UTF-8">
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&libraries=places"></script> -->
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>

<style type="text/css">

</style>


</head>
<body>

<header>


  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <div  class="col-md-1.5">
      {% if user.is_authenticated %}
      <a href='{% url "accounts:accountshome" %} '>
      {% else %}
      <a href='{% url "home" %} '>
      {% endif %}
      <img src="{% static 'img/final-logo.svg' %}" alt='logo' style='width:100px; height:55px;' />
      </a>
      </div>


      <div  class='col-md-1.5'>

        <a href='#' class="nav-menu-1">About Us</a>
        </div>

       <div  class='col-md-1.5'>
        <a href='#' class="nav-menu-1">Services</a>
        </div>

        <div  class='col-md-1.5'>
        <a href='#' class="nav-menu-1">FAQ</a>
        </div>

        {% if user.is_authenticated %}
        <div style="padding-top: 30px;" class='col-md-6'>
           <div id="m-link-signup" class="float-right" >
            <form action="{% url 'accounts:accountsLogout' %}">
              {% csrf_token %}
              <input type="submit" name="" value="LOGOUT" class="input-nav">
            </form>
          </div>

          <div id="m-link-signup" class="float-right" >
            <a href="{% url 'accounts:userprofile' %}">PROFILE</a>
          </div>

        </div>

        {% else %}
        <div style="padding-top: 30px;" class='col-md-6'>

          <div id="m-link-signup" class="float-right" >
            <a href="#" data-toggle="modal" data-target="#modalLogin">LOGIN</a>
            <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Login </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body main-modal-body">
                    <form action="{% url 'accounts:accountsLogin' %}" method="POST">
                      {% csrf_token %}
                      Username:
                      <input type="text" class="main-input w-100" placeholder="E-MAIL ADDRESS" name="username" required>
                      Password:
                      <input type="password"  class="main-input w-100" placeholder="PASSWORD" name="password" required>
                      <p class="main-modal-p">Not yet a Dire member? 
                      <a href="#" style='font-size: 12px; color: #3E664B;'>REGISTER HERE</a>
                      </p>
                      <input type="submit" class="main-button btn btn-success" style="width: 15%; background-color: #3E664B " value="Login">
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div id="m-link-signup" class="float-right" >
            <a href="{% url 'accounts:accountsSignup' %}">REGISTER</a>
          </div>

          <div id="m-link-signup" class="float-right" >
            <a style='color: #E84C4C;' href="#">JOIN US</a>
          </div>


        </div>

        {% endif %}
      </div>
    </div>
  </div>
  
  </nav>

</header>
{% block content %}{% endblock %}

<footer>
  <div class="container">
    <div class="row justify-content-center">
        <div style="padding-top: 30px; text-align: left; " class="col-md-6">
        <img src="{% static 'img/final-logo.svg' %}" alt='logo' style='width:200px; height:110px;' />
        </div>

        <div class="footer-menu-1" class='col-md-1.5'>
        <a href='#'><b>Contact Us</b></a>
        </div>

        <div class="footer-menu-1" class='col-md-1.5'>
        <a href="#"><b>Terms & Condition</b></a>
        </div>

        <div class="footer-menu-1" class='col-md-1.5'>
        <a href="#"><b>Privacy Policy</b></a>
        </div>

        <div class="footer-menu-1" class='col-md-1.5'>
        <a href="#"><b>About Us</b></a>
        </div>
    </div>
  </div>
   <div class="footer-copyright">
    <p style="font-size: 13px"><b>Copyright by DIRE 2018</b></p>
  </div>

  <hr style='background-color: black; height: 0.5px; width: 95%'>
</footer>
 


<!-- script to get the login modal -->
<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>


<!-- Compiled and minified JavaScript -->


</body>
</html>
