{% extends "application.html" %}

{% block title %}
Welcome to Dire!
{% endblock %}
{% block content %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

<div class="row">

  <div class="col-md-6">
    <section id="introduction" style="background: linear-gradient(to top, rgba(55, 102, 55,1), rgba(0,0,0,0.8)), url({% static 'img/try-1.jpg' %}) 0% 0%/cover">
     <div class="container" style="padding-left: 20%;">
       <div class="row fill-95-viewport align-items-center">
         <div class="col-12 col-md-6">
           <h1 class="text-white">What is</h1>
           <h1 class="text-white">Dire? <span></span></h1>
           <p class="text-white-70 text-80">
             Dire is an instant courier to send items and documents quickly without bothering to travel from places on our own. Dire also provide other service by doing errands from people to buy their needs in certain location nearby the area. </p>
           <a class="btn" id="m-btn-banner" href="#" role="button">More about us</a>
         </div>
       </div>
     </div>
    </section>
  </div>
  <div class="col-md-6">
    <section id="introduction" style="background: linear-gradient(to top, rgba(255, 255, 255,1), rgba(0,0,0,0.8)), url({% static 'img/try-2.jpg' %}) 0% 0%/cover">
     <div class="container" style="padding-left: 20%;">
       <div class="row fill-95-viewport align-items-center">
         <div class="col-12 col-md-6">
           <h1 class="text-white">How to </h1>
           <h1 class="text-white">Order? <span></span></h1>
           <p class="text-white-70 text-80">
             Dire is an instant courier to send items and documents quickly without bothering to travel from places on our own. Dire also provide other service by doing errands from people to buy their needs in certain location nearby the area. </p>
           <a class="btn" id="m-btn-banner" href="#" role="button">Make an order</a>
         </div>
       </div>
     </div>
    </section>
  </div>
</div>


<div class="row content-2 fill-80-viewport">
  <div class="col-md-6">
    <p class="content2-title">ABOUT DIRE </p>
    <br>
    <h4 class="content2-h4">WE SHALL NEVER LET YOUR TIME WASTED ON THE ROAD</h4>
    <br>
    <p class="content2-p">Dire is an instant courier to send items and documents quickly without bothering to travel from places on our own. Dire also provide other service by doing errands from people to buy their needs in certain location nearby the area. Customers can pick the type of transportation they wish the package would be delivered, the price should be adjusted according to the vehicle and the distance between points.</p>
    <p class="content2-p">This online services was created to help people who needs to deliver, taking or buying items in other places without any hesitation to do this on their own. We hope that the services can help people to reduce their time on travel from places to places and in result cutting their cost to travel.</p>
  </div>
  <div class="col-md-6">
      <img src="{% static 'img/parcelServices.jpg' %}" alt='about us' class="content2-img" />
  </div>
 </div>

<div class="content-3">
  <div class="row justify-content-center"> 
    <div style='width:150px; background-color: #2D2C2C;'>
      <div class="col-md-12">
        <div class="content3-title1">
        <p class="content3-title2">OUR SERVICES </p>
        </div>
      </div>
   </div>
  </div>

  <div class="row justify-content-center" style="padding-bottom: 100px;">
    <div style='width:80%; '>
      <div class='col-md-3'>
      <p style="margin-top: 50px; line-height: 41px; color: white; letter-spacing:20px; font-weight: 500; font-size: 30px; margin-left: 230px; writing-mode: vertical-rl; text-orientation: upright;">SHOP</p>
      </div>
      <div class='col-md-3'>
      <div style='width:250px; margin-bottom:-300px; margin-left: 300px; margin-top: -200px; background-color:#C4C4C4;  box-shadow: 10px 10px 10px #a33535;'>
      <img src="{% static 'img/shop.jpg' %}" alt='about us' style='width: 250px; height: 300px;' />
      <br>
      <a href="#" style="width: 250px; letter-spacing: 2px; color: #3E664B; padding-top: 5px;padding-bottom:5px; padding-left:5px; font-size: 12px; font-weight: 600;">READ MORE ----></a>
      </div>
      </div>
      <div class='col-md-3'>
      <div style='width:250px; margin-bottom:-80px; margin-left: 790px; margin-top: -320px; background-color:#C4C4C4; box-shadow: 10px 10px 10px #a33535;'>
      <img src="{% static 'img/try-1.jpg' %}" alt='about us' style='width: 250px; height: 300px;' />
      <a href="#" style="width: 250px; letter-spacing: 2px; color: #3E664B; padding-top: 5px; padding-bottom:5px; padding-left:5px; font-size: 12px; font-weight: 600;">READ MORE ----></a>
      </div>
      </div>
      <div class='col-md-3'>
      <p style="margin-top: -355px;  line-height: 41px; color: white; letter-spacing:20px; font-weight: 500; font-size: 30px; margin-left: 720px; writing-mode: vertical-rl; text-orientation: upright;">COURIER</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
