{% extends "application.html" %}

{% block title %}
Profile
{% endblock %}
{% block content %}

{% load static %}

<div class="container">
	{% if user.userprofile.usertype %}
	<h1 class="h1-title"> Hi {{user.first_name}} ! </h1>
	{{user.username}}<br>
	{{user.id}}<br>
	
	Lastname : {{user.last_name}}<br>
	Email	 : {{user.email}}<br>
	phonum	 : {{user.userprofile.phonum}}<br>
	city	 : {{user.userprofile.city}}<br>

	You can take these order!<br/>
	{% for eachorder in order %}
		{{ eachorder.id }}, {{ eachorder.starting_point }} - {{ eachorder.destination_point }}<br/>
	{% endfor %}

	Your current jobs:<br/>
	{% for eachorder in myorder %}
		{{ eachorder.id }}, {{ eachorder.starting_point }} - {{ eachorder.destination_point }}<br/>
	{% endfor %}


	{% else %}
	<h1 class="h1-title"> Hi {{user.first_name}} ! </h1>
	{{user.username}}<br>
	{{user.id}}<br>
	
	Lastname : {{user.last_name}}<br>
	Email	 : {{user.email}}<br>
	phonum	 : {{user.userprofile.phonum}}<br>
	city	 : {{user.userprofile.city}}<br>

	<br/>
	Your Order:<br/>
	{% for eachorder in order %}
		{{ eachorder.id }}, {{ eachorder.starting_point }} - {{ eachorder.destination_point }}<br/>
	{% endfor %}

	<br/>
	<br/>

	<a href="{% url 'order:orderCreate' %}">Make new order</a>

	{% endif %}
	
	
</div>


{% endblock %}