{% extends "application.html" %}

{% block title %}
Login
{% endblock %}
{% block content %}

{% load static %}
<div class="container">
  <h1> Login </h1>
  <form class="site-form" action="{% url 'accounts:accountsLogin' %}" method="post">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="" value="Sign Up">
  </form>
</div>

{% endblock %}
