{% extends "application.html" %}

{% block title %}
Profile
{% endblock %}
{% block content %}

{% load static %}

<div class="container">
	<h1 class="h1-title"> Profile #{{user.id}} </h1>
	{{user.username}}<br>
	Firstname: {{user.first_name}}<br>
	Lastname : {{user.last_name}}<br>
	Email	 : {{user.email}}<br>
	phonum	 : {{user.userprofile.phonum}}<br>
	city	 : {{user.userprofile.city}}<br>
	
</div>


{% endblock %}