{% extends "application.html" %}

{% block title %}
Sign Up
{% endblock %}
{% block content %}

{% load static %}
<div class="container">
  <h1 class="h1-title"> Sign up Courier </h1>
  <form class="site-form" action="{% url 'accounts:createcourier' %}" method="POST">
    {% csrf_token %}

    <div class="row" style="padding: 3% 1% 0px 0%">
        <div class="col-md-5">
            First Name<br/>
            <input name="user-firstname" class="controls main-input w-80" type="text"
        placeholder="Your First Name">
        </div>
        <div class="col-md-5">
            Last Name<br/>
            <input name="user-lastname" class="controls main-input w-80" type="text"
        placeholder="Your Last Name">
        </div>
    </div>
    
    Username<br/>
    <input name="user-username" class="controls main-input w-80" type="text"
placeholder="Username">

    <br/>Email<br/>
    <input name="user-email" class="controls main-input w-80" type="text"
placeholder="Email">
        
    <br/>Password<br/>
    <input name="user-password" class="controls main-input w-80" type="Password"
        placeholder="Your name">


    <div class="row" style="padding: 1% 1% 0px 0%">
        <div class="col-md-5">
            Phone Number<br/>
            <input name="user-phonum" class="controls main-input w-80" type="text"
        placeholder="Your name">
        </div>
        <div class="col-md-5">
            City<br/>
            <input name="user-city" class="controls main-input w-80" type="text"
        placeholder="Your name">
        </div>
    </div>
    <br/>
    <input type="submit" class="btn btn-primary" value="Sign Up">
  </form>
</div>

{% endblock %}
