.content-2 {
	padding: 10%;
	background-color: #f7f7f7;
}

.content2-title {
	padding-top: 30px;
	margin-left: 20%;
	color: #3E664B;
	font-size: 25px;
	font-weight: 600;
}

.content2-h4 {width: 450px; margin-left: 20%; font-size: 30px; letter-spacing: 2px;}
.content2-p {width: 450px; margin-left: 20%; line-height: 20px;}
.content2-img {
	border:solid 4px #3E664B; margin-left: 15%; margin-top: 15%;
	-webkit-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.3);
-moz-box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.3);
box-shadow: 10px 10px 40px -8px rgba(0,0,0,0.3);
}

.content-3 {
	background-color: #E84C4C;
	padding-top: 5%;
}
.content3-title1 {margin-left: 5px; margin-top:15px; width:170px; background-color: #3E664B}
.content3-title2 {width: 250px; line-height:30px; letter-spacing: 2px; padding-top: 30px; color: white; padding-bottom:10px; padding-left:30px; font-size: 25px; font-weight: 600;}