body { 

  font-family: Ubuntu;
   }
nav {
  -webkit-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 30px 0px rgba(0,0,0,0.2);
  height: 5%;
}

#m-btn-login {
  background-color: #376637;
  color: white;
  opacity: 1;
  -webkit-transition: all 0.2s ease;
  -moz-transform: all 0.2s ease;
  -ms-transform:all 0.2s ease;
  -o-transform: all 0.2s ease;
  transition: all 0.2s ease;
  padding: 0.2rem 0.75rem;
  font-weight: 600;
  margin-top: 5%;
}

.h1-title { margin-top: 5%; }

.nav-menu-1 {font-size: 13px; color: black;}
#m-link-signup {
  text-align: center;
  vertical-align: middle;
  line-height: 40px;
  margin-left: 10px;
  font-weight: 600;
}

#m-link-signup a{
  color: #376637;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  -moz-transform: all 0.2s ease;
  -ms-transform:all 0.2s ease;
  -o-transform: all 0.2s ease;
  transition: all 0.2s ease;
  cursor: pointer;
  padding-left: 35px; font-size: 15px; color: #3E664B;
}

#m-btn-banner {

  background-color: white;
  color: #376637;
  text-decoration: none;
}

.input-nav {
  padding: 0px 20px;
  font-size: 15px;
  font-weight: 600;
  color: #376637;
  background: transparent;
  border: 0px solid;
}
.input-nav:hover{cursor: pointer;}
.input-nav:focus{outline:0;}


#introduction {
}

.fill-viewport {min-height: 100vh}
.fill-20-viewport {min-height: 20vh}
.fill-50-viewport {min-height: 50vh}
.fill-60-viewport {min-height: 60vh}
.fill-80-viewport {min-height: 80vh}
.fill-90-viewport {min-height: 90vh}
.fill-95-viewport {min-height: 95vh}
.text-white-70 {color: rgba(255,255,255,0.7)}
.text-70 {font-size: 70%}
.text-80 {font-size: 80%}
.text-120 {font-size: 120%}
.text-130 {font-size: 130%}
.text-150 {font-size: 150%}
.text-italic {font-weight: 600; font-style: italic;}
.text-semibold {font-weight: 600}
.text-bold {font-weight: 700}

.col-md-6{
  padding: 0px !important;
}

.row {
  margin-right: 0px !important;
}

.footer-menu-1 {padding-top: 30px}
.footer-menu-1 a {font-size: 12px; padding-left: 35px; color: #2D2C2C}
.footer-copyright {padding-bottom: 5px; padding-right: 350px; margin-top: -30px; letter-spacing: 2px; text-align: right; color: #3E664B}

footer {
  left:0;
  bottom:0;
  width:100%;
  text-align: center;
  background-color: white;
  padding-top: 10px;
}


::placeholder {
    color: #3E664B;
    opacity: 1; /* Firefox */
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 2px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #3E664B;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #3E664B;
}

.main-input[type=text], .main-input[type=password] {
    padding: 8px;
    margin: 5px 0 25px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.main-input[type=text]:focus, .main-input[type=password]:focus {
    background-color: #dddddd;
    outline: black;
}

.w-100 {width: 100%}
.w-80 {width: 80%}
.w-50 {width: 50%}
.w-20 {width: 20%}

.main-modal-body {text-align: left;}
.main-modal-p {font-weight: 600; font-size: 12px; letter-spacing: 1.5px; margin-left: 30%;}

.main-button {
    background-color: #3E664B;
    color: white;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 1;
    text-align: center
}
.main-button:hover {
    opacity: 0.9;
}
.main-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 6%;
    top: 10%;
    width: 90%; /* Full width */
    height: 150%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    padding-top: 50px;

}
.main-modal-content {
    background-color: #fefefe;
    margin: 2% auto 30% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    padding-bottom: 5%;
    border-radius: 30px;
    padding-top: 5%;
}
.main-close {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 25px;
    font-weight: bold;
    color: black;
}
.main-close:hover{
  color: grey;
}

